body {
  margin: 0;
}

.siteContainer {
  text-align: left;
  font-size: 12px;
}

.siteContainer.turku {
  font-family: "Open Sans", sans-serif;
}

.siteContainer.pori {
  font-family: "BergenMono", sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.siteContainer > div {
  width: 100%;
}

@font-face {
  font-family: BergenText;
  font-weight: Normal;
  src: url(/fonts/bergen-text.otf);
}

@font-face {
  font-family: BergenText;
  font-weight: Bold;
  src: url(/fonts/bergen-text-bold.otf);
}

@font-face {
  font-family: BergenMono;
  font-weight: Normal;
  src: url(/fonts/bergen-mono.otf);
}

@font-face {
  font-family: BergenMono;
  font-weight: Bold;
  src: url(/fonts/bergen-mono-bold.otf);
}

@font-face {
  font-family: driveturku;
  src: url(/fonts/driveturku.woff);
}
